@import "bourbon";

$color-gray             : #cacaca;
$color-gray-lighter     : #ebebeb;
$color-white            : #ffffff;
$color-accent           : #000000; // цвет текста
$color-accent-secondary : #9b9b9b; // доплнительный цвет текста

//*-------------------------
// animation
//*-------------------------

$transition: all .5s ease-in-out;
