.icon-applepay {
  width: 51px;
  height: 33px;
}

.icon-arrow {
  width: 118px;
  height: 67px;
}

.icon-bage {
  width: 78px;
  height: 79px;
}

.icon-copyright {
  width: 30px;
  height: 30px;
}

.icon-direct {
  width: 88px;
  height: 89px;
}

.icon-flwrs1 {
  width: 86px;
  height: 32px;
}

.icon-insta {
  width: 30px;
  height: 30px;
}

.icon-instagram {
  width: 180px;
  height: 180px;
}

.icon-master-card {
  width: 39px;
  height: 30px;
}

.icon-mir {
  width: 60px;
  height: 17px;
}

.icon-people {
  width: 79px;
  height: 79px;
}

.icon-qiwi {
  width: 55px;
  height: 24px;
}

.icon-studiologo {
  width: 56px;
  height: 30px;
}

.icon-telega {
  width: 30px;
  height: 26px;
}

.icon-user_icon {
  width: 28px;
  height: 36px;
}

.icon-visa {
  width: 56px;
  height: 19px;
}

.icon-vk {
  width: 30px;
  height: 18px;
}

.icon-yandex-money {
  width: 100px;
  height: 19px;
}

